<div class="project_management_div" >
  <div>
    <span>
      <%= image_tag "button_commit.png", size: '40x40', class: "commit_button"%>  
    </span>
    <span>
      <%= image_tag "button_revert.png", size: '40x40', class: "revert_button" %>  
    </span>
  </div>
</div>