<div>
  <!-- <div class="project_nav_bar" style="margin-left: 50px; display: inline-block"> -->
    <%= image_tag "home.png", size: "40x40",  class: "home_button" %>
  <!-- </div> -->
  <div class="project_nav_bar" style="margin-left 50px; display: inline">
    <%= @project.title %> <%= @project.tempo %> bpm
  </div>
</div>






