<div id="branchSelector">
  <%= dropdown 'Branches' do %>
    <% @project_branchs.each do |branch| %>
    <%= content_tag(:li, "#{branch.name}", :data => { "id" => branch.id }, class: "branch_list_element") %>
    <% end %>
  <% end %>
</div>
<span class="control_span">
  <%= image_tag "add_branch_button.png", size: '40x40', class: "add_branch_button" %>
</span>