  <span class="control_span">
    <%= image_tag "back_button.png", size: '40x40', class: "branch_back_button" %>
  </span>
  <span class="control_span">
    <%= image_tag "forward_button.png", size: '40x40', class: "branch_forward_button" %>
  </span>
  <span class="control_span">
    <%= image_tag "add_branch_button.png", size: '40x40', class: "add_branch_button" %>
  </span>