<table class="project_nav_bar_table">
  <tr>
    <td class="col-md-1">
      <%= image_tag "home.png", size: "40x40",  class: "home_button" %>
    </td>
    <td class="col-md-2 project_nav_bar">
      <%= @project.title %> <%= @project.tempo %> bpm
    </td>
  </tr>
</table>






