<% @player.player_grid.each do |row| %>
  <div class="icon_surround">
    <% row.each do |column| %>
     

      <span class="icon">
        <%= image_tag "Button.png", class: "note_button" %>
      </span>
    <% end %>
  </div>
<% end %>