
  <container class="col-md-12">
      <div class="main_container">
          <div class="project_nav_bar index_title">Projects</div>
            <table>
              <% @projects.each do |project| %>
                <tr>
                  <td class="col-md-3 index_project">
                    <label>Title : <%= link_to "#{project.title}", project %></label>
                  </td>
                  <td class="col-md-3 index_project">
                    <label>Tempo : <%= project.tempo %></label>
                  </td>
                </tr>
              <% end %>
            </table>
          <div class="new_project">          
            <%= link_to "New Project", new_project_path%>
          </div>
        <div class="warning"><%= content_tag :div, alert, class: "alert" if alert %></div>
      </div>
  </container>
