<container class="col-md-12">
  <div class="main_container">
    <div class="project_nav_bar index_title">New Project</div>

      <%= form_for Project.new do |f| %>
        <div><label>Project Title:</label></div>
          <div class="create-project-elem">
            <%= f.text_field :title, autofocus: true %>
          </div>
        <div><label>Tempo :</label></div>
          <div class="create-project-elem">
            <%= f.number_field :tempo %>
          </div>
        <div class="create-project-submit-button">
          <%= f.submit "Create" %>
        </div>
      <% end %>

  </div>
</container>