// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.note_button{
  border-radius: 5px;
  src: "Button.png"
}
.note_on_button{
  border-radius: 15px;
  src: "Button_on.png"
}