// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon_surround{
	background-color: #8C8C8C;
	width: 20%;
	height: 20%;
	margin: 4% 4% 4% 4%  
}
.icon{

	width: 5%;
	height: 5%;
}